<!-- Logo -->
<div class="flex items-center gap-4 -ml-4">
    <a href="https://prefeiturademossoro.com.br/" class="logo-link -ml-12">
        <img src="/img/pagina-inicial/prefeitura-logo.png" alt="Logo da Prefeitura de Mossoró" style="height: 6rem; width: auto;">
    </a>
    <div>
        <h1 id="site-title" class="font-heading font-bold text-lg text-slate-800 leading-tight">
            Secretaria Municipal de Educação</h1>
        <p class="text-sm text-slate-500 font-medium">Prefeitura de Mossoró</p>
    </div>
</div>
